{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": "./src"
        }
      }
    ],
    "inline-react-svg"
  ]
}
